[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
	branch = basic-rvv
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
